@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(26,32,44);
    color: white;
}

a {
    display: flex;
    text-decoration: none;
    color: rgb(12,124,236);
    padding: 14px; 
}

ul {
    list-style-type: none;
}